<?xml version="1.0" encoding="UTF-8"?>
<beans>
<!--	<bean id="bbs" class="com.minis.test.service.BaseBaseService">-->
<!--	    <property type="com.minis.test.service.AServiceImpl" name="as" ref="aservice"/>-->
<!--	</bean>-->

<!--	<bean id="aservice" class="com.minis.test.service.AServiceImpl">-->
<!--		<constructor-arg type="String" name="name" value="abc"/>-->
<!--		<constructor-arg type="int" name="level" value="3"/>-->
<!--        <property type="String" name="property1" value="Someone says"/>-->
<!--        <property type="String" name="property2" value="Hello World!"/>-->
<!--        <property type="com.minis.test.service.BaseService" name="ref1" ref="baseservice"/>-->
<!--	</bean>-->

<!--	<bean id="baseservice" class="com.minis.test.service.BaseService">-->
<!--	</bean>-->



	<bean id="userService" class="com.minis.test.service.UserService" />

	<bean id="dataSource" class="com.minis.jdbc.pool.PooledDataSource">
		<property type="String" name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property type="String" name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=GMT%2B8"/>
		<property type="String" name="username" value="root"/>
		<property type="String" name="password" value="123456"/>
	</bean>

	<bean id="jdbcTemplate" class="com.minis.jdbc.core.JdbcTemplate">
		<property type="javax.sql.DataSource" name="dataSource" ref="dataSource"/>
	</bean>


	<bean id="sqlSessionFactory" class="com.minis.batis.DefaultSqlSessionFactory" init-method="init">
		<property type="String" name="mapperLocations" value="mapper"></property>
	</bean>


	<bean id="handlerAdapter" class="com.minis.web.servlet.RequestMappingHandlerAdapter">
		<property type="com.minis.web.HttpMessageConverter" name="messageConverter" ref="messageConverter"/>
		<property type="com.minis.web.WebBindingInitializer" name="webBindingInitializer" ref="webBindingInitializer"/>
	</bean>

	<bean id="webBindingInitializer" class="com.minis.test.DateInitializer" />

	<bean id="messageConverter" class="com.minis.web.DefaultHttpMessageConverter">
		<property type="com.minis.web.ObjectMapper" name="objectMapper" ref="objectMapper"/>
	</bean>

	<bean id="objectMapper" class="com.minis.web.DefaultObjectMapper" >
		<property type="String" name="dateFormat" value="yyyy/MM/dd"/>
		<property type="String" name="decimalFormat" value="###.##"/>
	</bean>


<!--	<bean id="realaction" class="com.minis.test.service.Action1"/>-->
<!--	<bena id="beforeAdvice" class="com.minis.test.service.MyBeforeAdvice" />-->
<!--	&lt;!&ndash;advisor将advice（增强逻辑）与mappedName（切入点）关联在一起&ndash;&gt;-->
<!--	<bean id="advisor" class="com.minis.aop.NameMatchMethodPointcutAdvisor">-->
<!--		<property type="com.minis.aop.Advice" name="advice" ref="beforeAdvice"/>-->
<!--		&lt;!&ndash;方法名匹配规则，*代表通配符，把value注入到mappedName，在调用具体的方法时会判断方法名字是否与mappedName匹配&ndash;&gt;-->
<!--		<property type="String" name="mappedName" value="do*"/>-->
<!--	</bean>-->
<!--	<bean id="action" class="com.minis.aop.ProxyFactoryBean">-->
<!--		<property type="String" name="interceptorName" value="advisor" />-->
<!--		<property type="java.lang.Object" name="target" ref="realaction"/>-->
<!--	</bean>-->


	<bean id="autoProxyCreator" class="com.minis.aop.framework.autoproxy.BeanNameAutoProxyCreator" >
		<property type="String" name="pattern" value="action*" />
		<property type="String" name="interceptorName" value="advisor" />
	</bean>

	<bean id="action" class="com.minis.test.service.Action1"/>
	<bean id="action2" class="com.minis.test.service.Action2"/>

	<bena id="beforeAdvice" class="com.minis.test.service.MyBeforeAdvice" />
	<bean id="advisor" class="com.minis.aop.NameMatchMethodPointcutAdvisor">
		<property type="com.minis.aop.Advice" name="advice" ref="beforeAdvice"/>
		<property type="String" name="mappedName" value="do*"/>
	</bean>

</beans>